CONFIG_ARM=y
CONFIG_ARM_SMCCC=y
CONFIG_ARCH_SUNXI_ARM=y
CONFIG_TEXT_BASE=0x43000000
CONFIG_SYS_MALLOC_LEN=0x1000000
CONFIG_HAS_CUSTOM_SYS_INIT_SP_ADDR=y
CONFIG_CUSTOM_SYS_INIT_SP_ADDR=0x48000
CONFIG_DEFAULT_DEVICE_TREE="uboot-board"
CONFIG_MACH_SUN65IW1=y
# CONFIG_VIDEO_SUNXI is not set
CONFIG_SUNXI_PRIVATE_STORAGE=y
CONFIG_SUNXI_BOOT_PARAM=y
CONFIG_SUNXI_FDT_ADDR=0x42000000
CONFIG_SUNXI_FPGA_PLATFORM=y
CONFIG_PHYS_64BIT=y
CONFIG_SYS_CUSTOM_LDSCRIPT=y
CONFIG_SYS_LDSCRIPT="bsp/arch/arm/mach-sunxi/u-boot.lds"
CONFIG_ANDROID_BOOT_IMAGE=y
CONFIG_LOGLEVEL=6
CONFIG_BOARD_EARLY_INIT_F=y
CONFIG_SYS_MAXARGS=64
CONFIG_SYS_BOOTM_LEN=0x2000000
CONFIG_CMD_GPIO=y
CONFIG_CMD_PWM=y
CONFIG_CMD_MMC_SWRITE=y
CONFIG_CMD_LOG=y
# CONFIG_ENV_IS_IN_FAT is not set
# CONFIG_NET is not set
CONFIG_CLK_CCF=y
CONFIG_CLK_COMPOSITE_CCF=y
# CONFIG_CLK_SUNXI is not set
# CONFIG_MMC_SUNXI is not set
CONFIG_DM_PMIC=y
CONFIG_PMIC_AXP=y
CONFIG_DM_REGULATOR=y
CONFIG_REGULATOR_AXP=y
CONFIG_DM_PWM=y
# CONFIG_WDT_SUNXI is not set
CONFIG_RSA=y
# CONFIG_TOOLS_LIBCRYPTO is not set
CONFIG_AW_GPIO=y
CONFIG_AW_PWM=y
CONFIG_CMD_SUNXI_CLK=y
CONFIG_CMD_SUNXI_PRIVATE_STORAGE=y
CONFIG_OPENSSL=y
