CONFIG_ARM=y
CONFIG_ARM_SMCCC=y
CONFIG_ARCH_SUNXI_ARM=y
CONFIG_TEXT_BASE=0x42A00000
CONFIG_SYS_MALLOC_LEN=0x1000000
CONFIG_HAS_CUSTOM_SYS_INIT_SP_ADDR=y
CONFIG_CUSTOM_SYS_INIT_SP_ADDR=0x48000
CONFIG_DEFAULT_DEVICE_TREE="uboot-board"
CONFIG_MACH_SUN8IW22=y
# CONFIG_VIDEO_SUNXI is not set
CONFIG_SYS_TEXT_BASE=0x42A00000
CONFIG_SUNXI_EXTERN_SECURE_MM_LAYOUT=y
CONFIG_SUNXI_BOOT_PARAM=y
CONFIG_SUNXI_FDT_ADDR=0x42C00000
CONFIG_SUNXI_FPGA_PLATFORM=y
# CONFIG_LOGF_MODULE is not set
# CONFIG_LOGF_LEVEL is not set
# CONFIG_LOGF_DEVNAME is not set
CONFIG_SYS_CUSTOM_LDSCRIPT=y
CONFIG_SYS_LDSCRIPT="bsp/arch/arm/mach-sunxi/u-boot.lds"
CONFIG_ANDROID_BOOT_IMAGE=y
CONFIG_LOG=y
CONFIG_LOG_MAX_LEVEL=9
# CONFIG_LOG_CONSOLE is not set
CONFIG_BOARD_EARLY_INIT_F=y
CONFIG_SYS_MAXARGS=64
CONFIG_SYS_BOOTM_LEN=0x2000000
# CONFIG_ENV_IS_IN_FAT is not set
# CONFIG_NET is not set
CONFIG_CLK_CCF=y
CONFIG_CLK_COMPOSITE_CCF=y
# CONFIG_CLK_SUNXI is not set
CONFIG_MMC_BROKEN_CD=y
# CONFIG_MMC_SUNXI is not set
CONFIG_PINCONF=y
CONFIG_DM_PMIC=y
CONFIG_PMIC_AXP=y
# CONFIG_WDT_SUNXI is not set
CONFIG_GETOPT=y
# CONFIG_TOOLS_LIBCRYPTO is not set
CONFIG_AW_PINCTRL_V3=y
CONFIG_AW_GPIO=y
CONFIG_AW_GPIO_V3=y
# CONFIG_AW_WDT is not set
CONFIG_SUNXI_GPADC=y
