if ARCH_SUNXI


config ENV_IS_IN_SUNXI_FLASH
	bool "Environment is in sunxi flash"
	default y
	help
	  Define this if you have a sunxi Flash memory device which you
	  want to use for the environment.

config SUNXI_REDUNDAND_ENVIRONMENT
	bool "sunxi env use redundant"
	select SYS_REDUNDAND_ENVIRONMENT
	depends on ENV_IS_IN_SUNXI_FLASH
	default n
	help
	  Arch sunxi support redundant env function

endif
