# SPDX-License-Identifier: GPL-2.0
#
# PCI Endpoint Support
#

config PCIE_ALLWINNER_EP
	bool "Allwinner PCIe endpoint controller"
	default n
	depends on PCI_ENDPOINT
	help
	  Say Y here if you want to support the Allwinner PCIe controller in
	  endpoint mode. This PCIe controller may be embedded into many
	  different vendors SoCs.

config PCIE_ALLWINNER_RC
	bool "Allwinner PCIe RC controller"
	depends on ARCH_SUNXI
	help
	   Enables support for the PCIe RC controller in the Allwinner SoC.

