config AW_CLK
	bool "Clock support for Allwinner SoCs"
	depends on CLK && ARCH_SUNXI
	select DM_RESET
	select SPL_DM_RESET if SPL_CLK
	default y
	help
	  This enables support for common clock driver API on Allwinner
	  SoCs.

if AW_CLK

config AW_CLK_SUN8IW21
	bool "Clock driver for Allwinner sun8iw21"
	help
	  This enables common clock driver support for platforms based
	  on Allwinner SUN8IW21 SoC.

config AW_CLK_SUN65IW1
	bool "Clock driver for Allwinner sun65iw1"
	help
	  This enables common clock driver support for platforms based
	  on Allwinner SUN65IW1 SoC.

config AW_CLK_SUN55IW6
	bool "Clock driver for Allwinner sun55iw6"
	help
	  This enables common clock driver support for platforms based
	  on Allwinner SUN55IW6 SoC.

config AW_CLK_SUN8IW22
	bool "Clock driver for Allwinner sun8iw22"
	help
	  This enables common clock driver support for platforms based
	  on Allwinner SUN8IW22 SoC.

config AW_CLK_SUN252IW1
	bool "Clock driver for Allwinner sun252iw1"
	help
	  This enables common clock driver support for platforms based
	  on Allwinner SUN252IW1 SoC.

endif # CLK_SUNXI
